import { {bigName} } from './{underTest}{name}';
{imports}
describe('{bigName}', () => {
  window.gettext = () => '';
  let component: {bigName};
{lets}
  beforeEach(() => {
{assigns}
    component = new {bigName}({params});
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
