import { {bigName} } from './{underTest}{name}';
{imports}
describe('{bigName}', () => {
  let guard: {bigName};
{lets}
  beforeEach(() => {
{assigns}
    guard = new {bigName}({params});
  });

  it('should ...', () => {
    expect(guard).toBeTruthy();
  });
});
