import { {bigName} } from './{underTest}{name}';
{imports}
describe('{bigName}', () => {
  let service: {bigName};
{lets}
  beforeEach(() => {
{assigns}
    service = new {bigName}({params});
  });

  it('should be created', () => {
    expect(service).toBeTruthy();
  });
});
